section(class='row')
    div(class='small-12 columns block-primary')
        h2 About Code for Fort Lauderdale
        div(class='block-heading')
            img(src='images/icons/helmet.svg', class='icon-large')
        p We're a Code for America Brigade, a group of civic hackers (designers, developers, data scientists, urbanists, and community organizers) who contribute our talents toward improving the way our community interacts with our local government by advocating for open data and using it to create apps and shared resources.

section(class='row')
    h2(class='small-12 columns') Meet the Core Team

section(class='row')
    div(class='small-12 large-3 columns')
        img(src='images/about/rsm.jpg')
        div Rebekah Monson <a href="http://twitter.com/rsm/">@rsm</a>
        small Co-founder + Co-captain <br><br>
    div(class='small-12 large-3 columns')
        img(src='images/about/ernieatlyd.jpg')
        div Ernie Hsuing <a href="http://twitter.com/ernieatlyd/">@ernieatlyd</a>
        small Co-founder <br><br>
    div(class='small-12 large-3 columns')
        img(src='images/about/nightshiftc.jpg')
        div Cristina Solana <a href="http://twitter.com/nightshiftc/">@nightshiftc</a>
        small Co-captain <br><br>
    div(class='small-12 large-3 columns')
        img(src='images/about/cyberstrike.png')
        div Chris Scott <a href="http://twitter.com/cyberstrike/">@cyberstrike</a>
        small Tech Lead <br><br>

section(class='row')
    div(class='small-12 large-3 columns')
        img(src='images/about/ungerwoman.jpg')
        div Danielle Ungerman <a href="http://twitter.com/ungerwoman/">@ungerwoman</a>
        small Event & Community Organizer
    div(class='small-12 large-3 columns')
        img(src='images/about/dominantculture.jpg')
        div Justin Wales <a href="http://twitter.com/dominantculture/">@dominantculture</a>
        small Policy Advisor
    div(class='small-12 large-3 columns')
        img(src='images/about/mikesarasti.jpg')
        div Mike Sarasti <a href="http://twitter.com/mikesarasti/">@mikesarasti</a>
        small Municipal Partner
    div(class='small-12 large-3 columns')
