section(class='row')
    div(class='small-12 columns block-primary')
        h2 About Code for Miami
        div(class='block-heading')
            img(src='images/icons/helmet.svg', class='icon-large')
        p We're a Code for America Brigade, a group of civic hackers (designers, developers, data scientists, urbanists, community organizers) that contribute our talents toward improving the way our community interacts with the local government by advocating for open data and using it to create apps and resources.

h2 Meet the Core Team

section(class='row')
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
        span Rebekah Monson Co-founder + Co-captain @rsm
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
        span Ernie Hsuing Co-founder @ernieatlyd
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
        span Cristina Solana Co-captain @nightshiftc
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
        span Danielle Ungerman Event Organizer @ungerwoman

section(class='row')
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
        span Maggy Diaz-Vera Storyteller @maggypi
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')
    div(class='small-6 large-3 columns')
        img(src='http://placehold.it/400x400')