section(class='row block')
  div(class='small-12 columns')
    h2 What is civic hacking?
    p Civic hacking is when engaged citizens come together to improve their cities via technology, innovation and design. Anyone with the drive to improve where they live and the will to collaborate with others to solve urban problems can be a civic hacker.
    p
      | Across the country, civic hackers have created
      a(href='https://localwiki.org/ftl/')  local wikis
      |  to share knowledge about their city,
      a(href='http://www.codeforamerica.org/blog/2012/11/06/city-of-chicago-adopts-flu-shot-app-built-by-civic-hackers/') developed an app from government data to help citizens locate local flu shot providers
      | , and
      a(href='https://www.detroitwaterproject.org/')  pioneered a platform to help residents in need pay their water bills.
    p At Code for Miami, we have several projects underway to make the lives of Miamians better. Check them out, lend a hand and become a civic hacker today.

    h2 What is open data?
    p Open data is data that is available for anyone and everyone to use and redistribute. While the data may exist in various forms (documents, databases, records or transcripts, among others), it is open if it meets the following conditions:
    ol
      li
        | It must be
        b  accessible and available
        |  for download in a convenient and complete form.
      li
        | It must be available for
        b  re-use, redistribution and mixing with other data sets.
      li
        | It must be
        b  universally available for anyone and everyone
        |  to use for any purpose, commercial or otherwise.

    h2 What is forking?
    p Forking allows civic hack members to work on an open source code and contribute to ongoing projects. Forking open source code creates an individual copy of the orignial Git repository for the civic hacker. A civic hacker can make changes to this individual copy and submit a pull request to the project leader. The project leader can accept or reject these changes.  
  
    
    //-     dd making a copy of a Git repository
    //
    //-     dt hacking
    //-     dd making stuff, etc.

    h2 Principles
    ol
      li
        a(href='https://www.codeforamerica.org/practices/design/') Start with people's needs
      li
        a(href='https://www.codeforamerica.org/practices/engagement/') Ensure everyone can participate
      li
        a(href='https://www.codeforamerica.org/practices/iterate/') Start small and continuously improve
      li
        a(href='https://www.codeforamerica.org/practices/data-driven/') Use real-time data to inform decisions
      li
        a(href='https://www.codeforamerica.org/practices/open/') Default to open
      li
        a(href='https://www.codeforamerica.org/practices/team-building/') Build the right text-transform
      li
        a(href='https://www.codeforamerica.org/practices/procurement/') Make informed decisions

    h2 Who can contribute?
    p Anyone with the drive to improve our community and the will to collaborate with others can contribute to Code for Fort Lauderdale.
    p We welcome coders, writers, designers, idea-makers, leaders, followers, project managers, sponsors, entrepreneurs, restaurateurs, donors and anyone willing to contribute something to making our city better.

    h2 How can you contribute?
    p The possibilities for contributing to Code for Fort Lauderdale are endless, but here are some ways to get started:
      li Come out to our Civic Hack Night, to contribute to one of our projects.
      li Attend one of our upcoming events or workshops.
      li Partner with us to develop an event or sponsor a planned event.
      li Feed our civic hackers by donating food to our weekly meetings.
      li If any of the above options entice you, or if you have an idea for another way to contribute, let us know how you want to get involved.

    //h2 Tools
    //p
    //  a(href='http://www.codeforamerica.org/brigade/tools/') http://www.codeforamerica.org/brigade/tools/ ...
