h2 What is civic hacking?
p ...

h2 What is open data?
p ...

h2 Terminology/Lingo
dl
    dt forking
    dd making a copy of a Git repository

    dt hacking
    dd making stuff, etc.

h2 Principles
p condensed version of https://www.codeforamerica.org/governments/principles/
p use detroit water project as an example - because \o/

h2 Who can contribute
p ...

h2 How to contribute
p ...
