section(class='row block')
    div(class='small-12 columns')
        div(class='row')
            div(class='small-12 medium-4 columns row-intro')
                h4 Coding not required
                p
                    em Civic hacking is for everyone. If you’re a writer, researcher or just want to spread some Fort Lauderdale love, there’s a place for you in any of our projects. You can contribute design or content, or start hacking now on your own project! .
            div(class='small-12 medium-4 columns row-project')
                div(class='block-heading')
                    img(src='images/icons/pencil.svg', class='icon-medium')
                h3 Fort Lauderdale Wiki
                p A community-driven effort to share local knowledge about Fort Lauderdale, Florida.
                div
                    a(href='https://localwiki.org/ftl/') <img src='images/icons/arrow-black.svg' class='icon-small'> Contribute to Fort Lauderdale Wiki
            div(class='small-12 medium-4 columns row-project')
                div(class='block-heading')
                    img(src='images/icons/talk-bubble.svg', class='icon-medium')
                h3 Fort Lauderdale Answers
                p Fort Lauderdale's most sought after answers about local government services.
                

section(class='row block')
    div(class='small-12 columns')
        div(class='row')
            div(class='small-12 medium-4 columns row-intro')
                h4 Tech-inclined
                p
                    em All you need to hack with Code for Fort Lauderdale is the desire to make our city better. Whether you’re a seasoned developer or just starting out, there’s a project for whatever language skill set you come with!
            div(class='small-12 medium-4 columns row-project')
                div(class='block-heading')
                    img(src='images/icons/cube.svg', class='icon-medium')
                h3 Projects
                p Here are some projects that Code for Fort Lauderdale is working on, as well as others we have worked on in the past. 
                div
                    a(href='projects') <img src='images/icons/arrow-black.svg' class='icon-small'> Join a project
            div(class='small-12 medium-4 columns row-project')
                div(class='block-heading')
                    img(src='images/icons/list.svg', class='icon-medium')
                h3 Open Issues
                p Check out some of the open issues that Code for Fort Lauderdale needs help with.
                div
                    a(href='open-issues') <img src='images/icons/arrow-black.svg' class='icon-small'> Solve an open issue
