section(class='row block')
    div(class='small-12 columns')
        div(class='row')
            div(class='small-12 medium-4 columns row-intro')
                h2 Coding not required
                p
                    em Civic hacking is for everyone. Sub text goes here.
            div(class='small-12 medium-4 columns')
                div(class='block-heading')
                    img(src='images/icons/pencil.svg', class='icon-medium')
                h3 Miami Wiki
                p A community-driven effort to share the local knowledge about Miami, Florida.
                div
                    a(href='https://localwiki.org/miami/') <img src='images/icons/arrow-black.svg' class='icon-small'> Contribute to Miami Wiki
            div(class='small-12 medium-4 columns')
                div(class='block-heading')
                    img(src='images/icons/talk-bubble.svg', class='icon-medium')
                h3 Miami Answers
                p Miami's most sought after answers about local government services.
                div
                    a(href='http://miamianswers.heroku.com') <img src='images/icons/arrow-black.svg' class='icon-small'> Answer questions for your neighbors

section(class='row block')
    div(class='small-12 columns')
        div(class='row')
            div(class='small-12 medium-4 columns row-intro')
                h2 Tech
                p
                    em sub text goes here, make it italicized
            div(class='small-12 medium-4 columns')
                div(class='block-heading')
                    img(src='images/icons/axe.svg', class='icon-medium')
                h3 Projects
                p lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
                div
                    a(href='projects') <img src='images/icons/arrow-black.svg' class='icon-small'> Join a project
            div(class='small-12 medium-4 columns')
                div(class='block-heading')
                    img(src='images/icons/data.svg', class='icon-medium')
                h3 Open Issues
                p lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
                div
                    a(href='open-issues') <img src='images/icons/arrow-black.svg' class='icon-small'> Solve an open issue
