section(class='row row-whatarewe')
    div(class='small-12 columns block-primary')
        h2 So, what are we?
        div(class='block-heading')
            img(src='images/icons/helmet.svg', class='icon-large')
        p We're a Code for America Brigade, a group of civic hackers (designers, developers, data scientists, urbanists and community organizers) who contribute our talents toward improving the way our community interacts with local government by advocating for open data and using it to create apps and shared resources.
        div(class='text-centered')
            a(href='about-code-for-Fort Lauderdale') More About Us <img src='images/icons/arrow-black.svg' class='icon-small'>

section(class='row row-whatwedo')
    div(class='small-12 medium-4 columns row-intro')
        h2 What we do.
        p
            em At Code for Fort Lauderdale, we have several projects underway to make the lives of Fort Lauderdaleans better. Check them out, lend a hand and become a civic hacker today.
        a(href='civic-hacking-101') Civic Hacking 101 <img src='images/icons/arrow-black.svg' class='icon-small'>
    div(class='small-12 medium-4 columns block-whatwedo')
        div(class='block-heading')
            img(src='images/icons/console.svg', class='icon-medium')
        h3 Civic Hacking
        p Creating apps and resources for citizens
        div
            a(href='get-started-with-civic-hacking') <img src='images/icons/arrow-black.svg' class='icon-small'> Get Started
        div
            a(href='get-started-with-civic-hacking#non-tech') <img src='images/icons/arrow-black.svg' class='icon-small'> But I don't write code...?
    div(class='small-12 medium-4 columns block-whatwedo')
        div(class='block-heading')
           img(src='images/icons/data.svg', class='icon-medium')
        h3 Open Data Advocacy
        p Open data is data that can be freely used, reused and redistributed by anyone, subject only, at most, to the requirement to attribute and sharealike.
        div
            a(href='http://codeforftl.org/OpenDataPolicy/#petition') <img src='images/icons/arrow-black.svg' class='icon-small'> Sign our petition

