div(id="open-issues", class="container", ng-controller="ProjectsController as model" ng-cloak)

    div(class="row")

        div(class="large-7 columns")
            div(class="row")
                // Filter Results
                div(class="large-6 columns")
                    select(ng-model="languageFilter", ng-options="option.value as option.key for option in model.languageOptions")
                        option(value="") Filter by language
                div(class="large-6 columns")
                    input(type="text", ng-model="userFilter", placeholder="filter by keyword, GitHub user...")

    section(class="row")

        hr(class="hr-emboss")

        // Results
        div(class="large-12 columns")
            <dir-pagination-controls on-page-change="model.getProjects(newPageNumber)"></dir-pagination-controls>
            div(class="flex-row flex-wrap")

                    div(class="flex-column-2 flex-row flex-stretch-vertical fade-in" dir-paginate="project in model.projects | filter: languageFilter | filter: userFilter | orderBy: 'project.name' | itemsPerPage: model.pageSize" total-items="model.totalCount" current-page="model.currentPage")
                        div(class="panel project-info")
                            h4(class="project-name")
                                a(ng-href="{{project.html_url}}") {{project.name}}

                            ul(class="no-bullet")
                                li(ng-if="project.description")
                                    dl
                                        dt <strong>Description</strong>
                                        dd {{project.description}} <a ng-if="project.homepage" ng-href="{{project.homepage}}">Live demo</a>
                                li
                                    small <strong>Open issues</strong>: {{project.open_issues}}
                                li(ng-if="project.language")
                                    small <strong>Language</strong>: {{project.language}}
                                li
                                    small <strong>Last updated</strong>: {{project.updated_at | date}}

                            div(ng-show="project.contributors")
                                h5 Contributors
                                a(ng-href="{{contributor.html_url}}", ng-repeat="contributor in project.contributors | limitTo: 16 | orderBy: '-contributions'", class="th")
                                    img(ng-src="{{contributor.avatar_url}}", class="project-contributor-avatar")
