footer(class='row main-footer')
    section(class='small-12 columns block-partners')
        h2 Partners
        a(href='https://opendata.miamidade.gov/', title='Miami-Dade County Open Data Portal')
            img(src='/images/logos/partner-miami-dade.png', alt='Miami-Dade County logo')
        a(href='http://codeforamerica.org/', title='Code for America')
            img(src='/images/logos/partner-code-for-america.png', alt='Code for America logo')
        a(href='http://thelabmiami.com/', title='The Lab Miami')
            img(src='/images/logos/partner-lab-miami.png', alt='The Lab Miami logo')
            a(href='https://www.tropo.com/', title='Tropo')
            img(src='/images/logos/partner-tropo.png', alt='Tropo logo')
    section
        small Built and maintained by Code for Miami, people trying to make Miami-Dade County even better.
            p
                small
                    a(href='https://github.com/Code-for-Miami/codeofconduct') Code of Conduct
