header(class='row main-cta')
    div
        h2 We love Miami.
        p Let's make it better, together.
        // "Get involved", "Become a Hacker"
        a(class='button large', href='get-started-with-civic-hacking') Start hacking
