head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Code for Fort Lauderdale
    meta(name='description' content='#{description}')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='stylesheet' href='node_modules/angular-loading-bar/build/loading-bar.min.css')
    script(src='//use.typekit.net/wfj7knq.js')
    script try{Typekit.load();}catch(e){}
