header(class='row main-cta')
    div
        h2 #{ header_text }
        p #{ subheader_text }
        // "Get involved", "Become a Hacker"
        a(class='button large', href='get-started-with-civic-hacking') Get Involved