div(class='fixed')
    nav(class='row top-bar', data-topbar, role='navigation')

        ul(class='title-area')
            li(class="name")
                h1
                    a(href='/', title='')
                    img(src="images/logos/codeforftl.png" width="160px")
            li(class='toggle-topbar menu-icon')
                a(href='#')
                    span Menu

        section(class='top-bar-section')
            ul(class='right')
                li(class='has-dropdown')
                    a(href='#', title='Code for Fort Lauerdale Projects') Projects
                    ul(class='dropdown')
                        li
                            a(href='projects') Current
                        li
                            a(href='open-issues') Open Issues
                        
                li
                    a(href='get-started-with-civic-hacking', title='Get Involved with Civic Hacking in Miami') Get Involved

                li
                    a(href='https://medium.com/code-for-miami', title='Code for Miami Stories') Our Stories
                li(class='has-dropdown')
                    a(href='#', title='Code for Miami Events') Events
                    ul(class='dropdown')
                        li
                            a(href='http://www.meetup.com/Code-for-Miami/') Monday Meetups
                        li
                            a(href='http://www.meetup.com/Code-for-Miami/#past') Past Events
                li(class='has-dropdown')
                    a(href='#', title='Contact Code for Miami') Contact
                    ul(class='dropdown')
                        li
                            a(href='mailto:codeformiami@gmail.com') Email
                        li
                            a(href='http://codeformiami.us3.list-manage.com/subscribe?u=246ae18879d8d50abf4bf01ba&id=05dd3cfea2') Email Newsletter
                        li
                            a(href='https://groups.google.com/forum/#!forum/code-for-miami/') Google Groups
                        li
                            a(href='http://cfm-invite.herokuapp.com/') Slack Signup
                        li
                            a(href='https://www.facebook.com/CodeForMiami/') Facebook
                        li
                            a(href='https://twitter.com/codeformiami/') Twitter